<template name="LeftNavBar">
    <div class="left-nav-wrapper">
        <div class="top-btns-wrapper">
            <div class="btn btn-casino">
                <span class="svg-holder"></span>
                <span class="text">Casino</span>
            </div>
            <div class="btn btn-sports">
                <span class="svg-holder"></span>
                <span class="text">Sports</span>
            </div>
        </div>
        <div class="user-controls">
            {{#each userContols}}
                <div class="btn left-nav-item">
                    <span class="svg-holder">{{{icon}}}</span>
                    <span class="text">{{label}}</span>
                </div>
            {{/each}}
        </div>
    </div>
</template>